<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>students index</title>
  </head>
  <body>
    <ul>
        <% @students.each do |student|%>
        <li>
          <%= student.first_name %> <%=student.last_name%>
        </li>
        <%end%>
    </ul>


  </body>
</html>
